**Link medium**: https://medium.com/@oktayudha05/data-processing-dengan-apache-spark-7d965339179a

- **Tugas 1**: Buat DataFrame sederhana di Spark.

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('tugas_pertemuan_6').getOrCreate()

data = [('Yatno', 'Sales', 3000),
        ('Ifad', 'Sales', 4600),
        ('Istoro', 'Sales', 4100),
        ('Agus', 'Direktur', 3000)]
columns = ['Pegawai', 'Departmen', 'Gaji']

df = spark.createDataFrame(data, schema=columns)
df.show()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/23 00:28:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+-------+---------+----+
|Pegawai|Departmen|Gaji|
+-------+---------+----+
|  Yatno|    Sales|3000|
|   Ifad|    Sales|4600|
| Istoro|    Sales|4100|
|   Agus| Direktur|3000|
+-------+---------+----+

- **Tugas 2**: Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data

In [3]:
df.select('Pegawai', 'Gaji').show()
df.filter(df['Gaji'] > 4000).show()
df.groupBy('Departmen').avg('Gaji').show()

+-------+----+
|Pegawai|Gaji|
+-------+----+
|  Yatno|3000|
|   Ifad|4600|
| Istoro|4100|
|   Agus|3000|
+-------+----+

+-------+---------+----+
|Pegawai|Departmen|Gaji|
+-------+---------+----+
|   Ifad|    Sales|4600|
| Istoro|    Sales|4100|
+-------+---------+----+

+---------+---------+
|Departmen|avg(Gaji)|
+---------+---------+
|    Sales|   3900.0|
| Direktur|   3000.0|
+---------+---------+

- **Tugas 3**: Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.

In [7]:
df.withColumn('BonusGaji', df['Gaji'] * 0.1).show()
df.withColumn('TotalKompensasi', df['Gaji'] + df['BonusGaji']).show()

+-------+---------+----+---------+
|Pegawai|Departmen|Gaji|BonusGaji|
+-------+---------+----+---------+
|  Yatno|    Sales|3000|    300.0|
|   Ifad|    Sales|4600|    460.0|
| Istoro|    Sales|4100|    410.0|
|   Agus| Direktur|3000|    300.0|
+-------+---------+----+---------+

+-------+---------+----+---------+---------------+
|Pegawai|Departmen|Gaji|BonusGaji|TotalKompensasi|
+-------+---------+----+---------+---------------+
|  Yatno|    Sales|3000|    300.0|         3300.0|
|   Ifad|    Sales|4600|    460.0|         5060.0|
| Istoro|    Sales|4100|    410.0|         4510.0|
|   Agus| Direktur|3000|    300.0|         3300.0|
+-------+---------+----+---------+---------------+

- **Tugas 4**: Implementasikan window function untuk menghitung running totals atau rangkings.

In [8]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Departmen').orderBy('Gaji')
df.withColumn('Peringkat', F.rank().over(windowSpec)).show()

+-------+---------+----+---------+---------+
|Pegawai|Departmen|Gaji|BonusGaji|Peringkat|
+-------+---------+----+---------+---------+
|   Agus| Direktur|3000|    300.0|        1|
|  Yatno|    Sales|3000|    300.0|        1|
| Istoro|    Sales|4100|    410.0|        2|
|   Ifad|    Sales|4600|    460.0|        3|
+-------+---------+----+---------+---------+

- **Tugas 5**: Buat ringkasan dari semua operasi yang telah dilakukan dan bagaimana teknik ini dapat diterapkan pada proyek data Anda.

operasi yang kita lakukan: Pertama, kita membuat dataframe sederhana pada pyspark. Kemudian kita menggunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data. Selanjutnya kita mengolah tipe data kompleks dalam Spark DataFrames misalnya menambahkan BonusGaji dan TotalKompensasi. Dan terakhir mengimplementasikan window function.

ini dapat kita implemetasikan untuk menyortir data data yang ada pada dataset projek yang akan kita kerjakan.