In [7]:
# Weekly Exercise 1

panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang+lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = ", panjang)
print("Lebar = ", lebar)
print("Tinggi = ", tinggi)
print("Keliling = ", keliling)
print("Volume = ", volume)

Panjang =  20.5
Lebar =  25
Tinggi =  10
Keliling =  91.0
Volume =  5125.0

In [16]:
class k1:
    shafira = 85
    amanda = 80
    aditya = 75
    nedia  = 95
    widya = 85
    hanif = 75
    andi = 70
    dhanar = 85
    hikma = 80

class mstate:
    shafira = 75
    amanda = 90
    aditya = 80
    nedia = 80
    widya = 85
    hanif = 90
    andi = 75
    dhanar = 85
    hikma = 75

print('1. Rata rata nilai Shafira adalah : ', (k1.shafira + mstate.shafira) / 2)
print('2. Jumlah nilai Hanif dan Andi adalah : ', k1.hanif + mstate.hanif + k1.andi + mstate.andi)
print('3. Rata rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah adalah')
print('     a. Rata rata nilai mata kuliah Kalkulus 1 adalah : ', (k1.widya + k1.dhanar + k1.hikma + k1.nedia) / 4)
print('     b. Rata rata nilai mata kuliah Metode Statistika adalah : ', (mstate.widya + mstate.dhanar + mstate.hikma + mstate.nedia) / 4)
print('4. Rata rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa adalah : ', (k1.shafira + k1.amanda + k1.aditya + k1.nedia + k1.widya + k1.hanif + k1.andi + k1.dhanar + k1.hikma) // 9)
print('5. Rata rata nilai mata kuliah Metode Statistika untuk semua mahasiswa adalah : ', (mstate.shafira + mstate.amanda + mstate.aditya + mstate.nedia + mstate.widya + mstate.hanif + mstate.andi + mstate.dhanar + mstate.hikma) // 9)

1. Rata rata nilai Shafira adalah :  80.0
2. Jumlah nilai Hanif dan Andi adalah :  310
3. Rata rata nilai Widya, Dhanar, Hikma, dan Nedia pada masing-masing mata kuliah adalah
     a. Rata rata nilai mata kuliah Kalkulus 1 adalah :  86.25
     b. Rata rata nilai mata kuliah Metode Statistika adalah :  81.25
4. Rata rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa adalah :  81
5. Rata rata nilai mata kuliah Metode Statistika untuk semua mahasiswa adalah :  81

In [1]:
gajiHarian = 8 * 30000
hariMasukAgustus = 28
jamLembur = 5

gajiAgustus = gajiHarian * hariMasukAgustus
tunjanganAgustus = gajiAgustus * 10 // 100
lemburAgustus = jamLembur * 10000
totalGajiAgustus = gajiAgustus + tunjanganAgustus + lemburAgustus

print('1. Gaji yang diterima oleh Dwi pada bulan Agustus adalah Rp.' '{:,}'.format(gajiAgustus))
print('2. Tunjangan yang diterima oleh Dwi pada bulan Agustus adalah Rp.' '{:,}'.format(tunjanganAgustus))
print('3. Total gaji yang diterima oleh Dwi pada bulan Agustus adalah Rp.' '{:,}'.format(totalGajiAgustus))

1. Gaji yang diterima oleh Dwi pada bulan Agustus adalah Rp.6,720,000
2. Tunjangan yang diterima oleh Dwi pada bulan Agustus adalah Rp.672,000
3. Total gaji yang diterima oleh Dwi pada bulan Agustus adalah Rp.7,442,000