### 1. Menghubungkan ke Database MongoDB

In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://oktayudha05:1Gelaspecah!@bigdata.yl2iv.mongodb.net/')
db = client['company_db']
collectionEmployees = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar

In [4]:
# Insert Beberapa Data
employee_data = [
  {
    'name': 'Ifad',
    'department': 'Finance',
    'age': 19,
    'salary': 9500
  },
  {
    'name': 'yanto',
    'department': 'CEO',
    'age': 93,
    'salary': 500
  },
  {
    'name': 'Agus',
    'department': 'Marketing',
    'age': 76,
    'salary': 10500
  },
  {
    'name': 'Oro',
    'department': 'Marketing',
    'age': 16,
    'salary': 4000
  }
]
collectionEmployees.insert_many(employee_data)
print('Data inserted')

# Update Data Ifad
collectionEmployees.update_one({'name': 'Ifad'}, {'$set': {'salary': 10000}})
print('Data updated')

# Delete Data Alice
collectionEmployees.delete_one({'name': 'Alice'})
print('Data deleted')

Data inserted
Data updated
Data deleted

In [19]:
for employee in collectionEmployees.find():
    print(employee)

{'_id': ObjectId('672196c2da825c042c3f5ac7'), 'name': 'yanto', 'department': 'CEO', 'age': 93, 'salary': 500}
{'_id': ObjectId('672196c2da825c042c3f5ac8'), 'name': 'Agus', 'department': 'Marketing', 'age': 76, 'salary': 10500}
{'_id': ObjectId('672a0c0dbf91b542ef78cb5b'), 'name': 'Ifad', 'department': 'Finance', 'age': 19, 'salary': 10000}
{'_id': ObjectId('672a0c0dbf91b542ef78cb5e'), 'name': 'Oro', 'department': 'Marketing', 'age': 16, 'salary': 4000}

### 3. Query Lebih Kompleks Menggunakan Aggregation

In [34]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collectionEmployees.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 10000.0}
{'_id': 'CEO', 'average_salary': 500.0}
{'_id': 'Marketing', 'average_salary': 7250.0}

### 4. Latihan Tambahan

- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).

In [35]:
collectionProducts = db['products']
products = [
  {'jenis': 'makanan', 'nama': 'roti' , 'merk': 'aoka', 'harga': 2500},
  {'jenis': 'barang', 'nama': 'kipas angin', 'merk': 'minyako', 'harga': 250000},
  {'jenis': 'barang', 'nama': 'setrika', 'merk': 'cosmos', 'harga': 100000},
  {'jenis': 'makanan', 'nama': 'biskuit' , 'merk': 'nabati', 'harga': 3000},
  {'jenis': 'kendaraan', 'nama': 'mobil' , 'merk': 'mclaren', 'harga': 100000000},
  {'jenis': 'kendaraan', 'nama': 'motor' , 'merk': 'suzuki', 'harga': 3000000},
  {'jenis': 'pakaian', 'nama': 'baju' , 'merk': 'rsch', 'harga': 200000},
  {'jenis': 'kendaraan', 'nama': 'mobil' , 'merk': 'mitsubishi', 'harga': 350000000},
  {'jenis': 'barang', 'nama': 'laptop' , 'merk': 'lenovo', 'harga': 5000000},
  {'jenis': 'makanan', 'nama': 'ciki' , 'merk': 'citato', 'harga': 9000},
  ]
collectionProducts.insert_many(products)
print('Data inserted')

Data inserted

- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [ ]:
pipelineAvg = [
    {'$group': {'_id': None, 'hargaAvg': {'$avg': '$harga'}}}
]

hargaAvg = list(collectionProducts.aggregate(pipelineAvg))[0]['hargaAvg']
print("Rata rata harga semua produk:", hargaAvg)

piplineDiatasAvg = [
    {'$match': {'harga': {'$gt': hargaAvg}}}
]

for result in collectionProducts.aggregate(piplineDiatasAvg):
    print(result)

Rata rata harga semua produk: 45856450.0
{'_id': ObjectId('672196d1da825c042c3f5ace'), 'jenis': 'kendaraan', 'nama': 'mobil', 'merk': 'mclaren', 'harga': 100000000}
{'_id': ObjectId('672196d1da825c042c3f5ad1'), 'jenis': 'kendaraan', 'nama': 'mobil', 'merk': 'mitsubishi', 'harga': 350000000}

- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [38]:
pipeline = [
    {'$group': {'_id': '$jenis', 'totalProduk': {'$sum': 1}}}
]

# Eksekusi pipeline dan tampilkan hasil
for result in collectionProducts.aggregate(pipeline):
    print(result)

{'_id': 'makanan', 'totalProduk': 3}
{'_id': 'pakaian', 'totalProduk': 1}
{'_id': 'barang', 'totalProduk': 3}
{'_id': 'kendaraan', 'totalProduk': 3}

### Tugas 5
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [ ]:
pipeline = [
    {'$group': {'_id': '$department','top_employees': {'$push': {'name': '$name', 'age': '$age', 'salary': '$salary'}}}},
    {'$project': {'_id': 1,'top_employees': {'$slice': [{'$filter': {'input': '$top_employees','as': 'employee','cond': {
        '$gte': ['$$employee.salary', 5000] 
        }}},5]}}}
]

for result in collectionEmployees.aggregate(pipeline):
    print(result)

{'_id': 'Marketing', 'top_employees': [{'name': 'Agus', 'age': 76, 'salary': 10500}]}
{'_id': 'Finance', 'top_employees': [{'name': 'Ifad', 'age': 19, 'salary': 10000}]}
{'_id': 'CEO', 'top_employees': []}

- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [42]:
for karyawan in collectionEmployees.find():
  if karyawan['age'] < 25:
    collectionEmployees.delete_one({'name': karyawan['name']})
    print(karyawan['name'], ' deleted')

Ifad  deleted
Oro  deleted

- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
pipeline = [
    {'$group': {'_id': '$department', 'total_salary': {'$sum': '$salary'}, 'average_age': {'$avg': '$age'}}}
]

results = collectionEmployees.aggregate(pipeline)

for result in results:
    print(f"Department: {result['_id']}")
    print(f"Total gaji: {result['total_salary']}")
    print(f"Rata rata umur: {result['average_age']}\n")

Department: CEO
Total gaji: 500
Rata rata umur: 93.0

Department: Marketing
Total gaji: 14500
Rata rata umur: 46.0

Department: Finance
Total gaji: 10000
Rata rata umur: 19.0